.category-title {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 20px !important;
    font-weight: bold;
    color: green !important; /* Blue color, you can adjust the color as needed */
  }
  
  