// src/styles/DateFilter.scss
.custom-select .ant-select-selector {
    width: auto !important;
    min-width: 150px; /* Adjust as needed */
    margin-right: 5px;

  }
  .custom-select{
    margin-top: 5px;
  }
  .range-picker{
    margin-top: 5px;

  }
  