/* src/components/Widget.scss */
.widget-card {
    margin-bottom: 16px;
  }
  
// src/styles/WidgetCard.scss
.widget-card {
    .widget-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .widget-counts {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .first-count {
        .ant-typography {
        font-size: 28px;
        font-weight: bold;
        color: #333; /* Dark color for first count */
        display: flex; /* Added */
        align-items: center; /* Added */
        }
      }
  
      .second-count {
        .ant-typography {
        font-size: 16px;
        // color: #fa541c; /* Custom color for second count */
        }
      }
    }
  }
  
  